<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="currency_code" value="[var.currencycode]">
<input type="hidden" name="business" value="[var.paymentprocessoremail]">
<input type="hidden" name="cbt" value="Return to [var.businessname]">
<input type="hidden" name="item_name" value="Shopping at [var.businessname]">
<input type="hidden" name="amount" value="[var.grandtotal]">
<input type="hidden" name="return" value="[var.websiteurl]/ordercomplete.php">
<input type="hidden" name="notify_url" value="[var.websiteurl]/functions/pay_[var.paymentprocessor].php">
<input type="hidden" name="custom" value="[var.orderid]">
<input type="hidden" name="bn" value="PP-BuyNowBF">
<input type="submit" value="Checkout" class="bigbutton" >
</form>