<form action="https://www.moneybookers.com/app/payment.pl" method="post">
  <input type="hidden" name="pay_to_email" value="[var.paymentprocessoremail]"/>
  <input type="hidden" name="status_url" value="[var.websiteurl]/functions/paid_moneybookers.php"/> 
  <input type="hidden" name="return_url" value="[var.websiteurl]/ordercomplete.php"/> 
  <input type="hidden" name="language" value="EN"/>
  <input type="hidden" name="amount" value="[var.grandtotal]"/>
  <input type="hidden" name="currency" value="GBP"/>
  <input type="hidden" name="detail1_description" value="Shopping at [var.businessname]"/>
  <input type="hidden" name="detail1_text" value="Order #[var.orderid]"/>
  <input type="hidden" name="transaction_id" value="[var.orderid]"/>
  <input type="hidden" name="logo_url" value="[var.websiteurl]/[var.sitelogopath;ifempty='themes/[var.theme]/graphics/_defaultlogo_[var.themevariation].png']"/>
  <input type="submit" value="Checkout"/>
</form>