[onload;file='header.html'] 
<div class="middlebar">
  <div class="menublock">
    <div class="menuhere">
      <div id="ddblueblockmenu">
        <div class="menutitle">Categories</div>
          <ul>
          <li><a href="category.php?id=[categories.id;block=li]">[categories.title]</a></li>
          </ul>
        <!-- <div class="menutitle">Links</div>
          <ul>
          <li><a href="http://heroesdesign.net">Heroes For Hire</a></li>
          </ul> -->
      </div>
    </div>
  </div>
  <div class="contentblock">
    <div class="breadcrumbshere"><ul class="breadcrumb">
    <li><a href="index.php">Home</a></li>
    <li><a href="#">Error #404</a></li>
    </ul></div>
      
    <div class="thumbshere">
      <h1>File Not Found</h1>
      <br>
      
      <div class="thumblisting">
      <font class="shoulderline">Notice!</font>
      <br>
      <br>The page you were looking for could not be found.
      <br>You can find more products if you <a href="index.php">get shopping.</a>
            </div>

    </div>
  </div>
</div>
[onload;file='footer.html'] 