[onload;file='header.html']
<div class="middlebar">
  <div class="menublock">
    <div class="menuhere">
      <div id="ddblueblockmenu">
        <div class="menutitle">Categories</div>
          <ul>
          <li><a href="category.php?id=[categories.id;block=li]">[categories.title]</a></li>
          </ul>
        <!-- <div class="menutitle">Links</div>
          <ul>
          <li><a href="http://heroesdesign.net">Heroes For Hire</a></li>
          </ul> -->
      </div>
    </div>
  </div>
  <div class="contentblock">
    <div class="breadcrumbshere"><ul class="breadcrumb">
    <li><a href="index.php">Home</a></li>
    <li>[onshow;block=li; when [var.whatsecret]!=[order.secret]]<a href="#">My Account</a></li>
    
    <li>[onshow;block=li; when [var.whatsecret]=[order.secret]]<a href="account.php">My Account</a></li>
    <li>[onshow;block=li; when [var.whatsecret]=[order.secret]]<a href="#">Order Number #[order.id]</a></li>
    </ul></div>
      
    <div class="thumbshere">
      <font class="shoulderline">[onshow;block=font; when [var.whatsecret]!=[order.secret]]My Account</font>
      <font class="shoulderline">[onshow;block=font; when [var.whatsecret]=[order.secret]]Your Order</font>
      
        <div class="notice">[onshow;block=div;when [var.shownotice]=yes][var.notice]</div>
        <div class="rednotice">[onshow;block=div;when [var.showrednotice]=yes][var.rednotice]</div>
        <div class="ambernotice">[onshow;block=div;when [var.showambernotice]=yes][var.ambernotice]</div>
        <div class="greennotice">[onshow;block=div;when [var.showgreennotice]=yes][var.greennotice]</div>
      
      <div style="width: 100px;"><br>
      [onshow;block=div; when [var.whatsecret]=[order.secret]]
      <br>UK Royal Mail Delivery
      <br><p class="nobasket" style="margin:0px;">[onshow;block=p; when [order.dispatched]=yes]Your order has been dispatched.</p>
      <br><p class="nobasket" style="margin:0px;">[onshow;block=p; when [order.dispatched]=no]Awaiting to be dispatched.</p>
      <br>
      </div>
      
      <div>[onshow;block=div; when [var.whatsecret]=[order.secret]]
      <!-- You can only download files once. -->
      <br><br>
      <!-- for the Limit Downloads plugin -->
      </div>
        
    <div>[onshow;block=div; when [var.whatsecret]!='x']
        <span style="font-size: 1.1em;">
        <a href="product.php?id=[product.id;p1=[ordered.itemid];block=div]">[product.title;p1=[ordered.itemid]]</a>
        </span>
        <br>
        <div class="salepricebacklong" style="width: 500px;">
            <span style="font-style: italic;">[variation.attribute;p1=[ordered.itemid];block=span]</span>
            <p style="float: right;"><a href="download.php?itemid=[product.id]&orderid=[ordered.orderid]&secret=[order.secret]">Download</a></p>
        </div>
    </div>
      
      <br><form method="POST">[onshow;block=form; when [var.whatsecret]!=[order.secret]]
      <br><label for="enteredemail">Using the form below, you can receive another copy of every email you've received from [var.businessname], in the past 30 days.</label>
      <br>
      <br>Your email
      <br><input type="text" class="bigtext" name="enteredemail" id="enteredemail">
      <br>
      <br><input type="submit" class="bigbutton" value="Send emails">
      <br></form>
    </div>
  </div>
</div>
[onload;file='footer.html']