[onload;file='header.html'] 
<div class="middlebar">
<div class="menublock">
<div class="menuhere">
<div id="ddblueblockmenu">
<div class="menutitle">Categories</div>
<ul>
<li><a href="category.php?id=[categories.id;block=li]">[categories.title]</a></li>
</ul>
<!-- <div class="menutitle">Links</div>
<ul>
<li><a href="http://heroesdesign.net">Heroes For Hire</a></li>
</ul> -->
</div>
</div>
</div>
<div class="contentblock">
<div class="breadcrumbshere"><ul class="breadcrumb">
<li><a href="index.php">Home</a></li>
<li><a href="#">Basket</a></li>
</ul></div>

<div class="thumbshere">
<h1>Basket</h1><br>

<table width="780">[onshow;block=table;when [var.basketcount]!=0]
<tr>
<th width="30"></th>
<th width="150">Photo</th>
<th width="300">Title</th>
<th width="150">Quantity</th>
<th width="150">Price</th>
</tr>

<tr>[basketitem;block=tr;aggregate=quantity:sum]
<td><a href="basket.php?removeitem=[product.id;block=tr;p1=[basketitem.itemid];aggregate=quantity:sum]&removevariation=[variation.id;block=tr;p1=[basketitem.variationid]]" title="Remove [product.title] from the basket"><img src="themes/[var.theme]/graphics/trash.gif" width="16" height="16" alt="remove [product.title] from the basket"></td>
<td>
<a href="product.php?id=[product.id]"><img src="[product.photopath]" style="max-width: 125px; max-height: 150px;" alt="a photo of [product.title]"></a></td>
<td><span style="font-size: 1.1em;">[product.title]</span><!-- i[product.id] v[variation.id] -->
<br><div class="salepricebacklong"><span style="font-style: italic;">   [variation.attribute]</span></div></td>
<td>[basketitem.quantity]   
<span>[onshow;block=span;when [basketitem.quantity]-=+10]  <a href="basket.php?onemoreitem=[product.id]&onemorevariation=[variation.id]" title="Add one more [product.title] to your basket"><img src="themes/[var.theme]/graphics/_add.png" align="bottom" alt="add 1 more to the basket"></span></a>
<span>[onshow;block=span;when [basketitem.quantity]+-1]  <a href="basket.php?onelessitem=[product.id]&onelessvariation=[variation.id]" title="Add one more [product.title] to your basket"><img src="themes/[var.theme]/graphics/_minus.png" align="bottom" alt="remove 1 from the basket"></a></span></td>
<td>[var.currencysign;htmlconv=no][product.quantity;ope=mul:[basketitem.quantity];frm=0.00]</td>
</tr>

<tr>[onshow;block=tr;when [var.deliverycost]!=n/a]
<td colspan="2"></td>
<td colspan="2">1st Class Royal Mail Delivery<br>UK delivery only</td>
<td>[var.currencysign;htmlconv=no]5</td>
</tr>

<tr class="totals">
<td colspan="3" class="totals"></td>
<td class="totals">[basketitem.quantity:sum]
<td class="totals">[var.currencysign;htmlconv=no][var.grandtotal]</td>
</tr>
<tr><td style="text-align: right;" colspan="5">
  <input class="bigbutton" value="Checkout" type="button" onclick="window.location='checkout.php'">

</td></tr>

</table>

<div class="thumblisting">[onshow;block=div;when [var.basketcount]=0]
<font class="shoulderline">Notice!</font>
<br>
<br>You have nothing in your basket.
<br>You should <a href="index.php">get shopping.</a>
</div>
</div>
</div>
</div>
[onload;file='footer.html'] 