[onload;file='header.html']
<div class="middlebar">
  <div class="menublock">
    <div class="menuhere">
      <div id="ddblueblockmenu">
        <div class="menutitle">Categories</div>
          <ul>
            <li>
              <a style="width: 92%;" class="active">
              [onshow;block=a;when [categories.id]=[var.categoryid]]
              [categories.title]</a>
              <a href="category.php?id=[categories.id;block=ul]" style="width: 92%;">
              [onshow;block=a;when [categories.id]!=[var.categoryid]]
              [categories.title]</a>
            </li>
          </ul>
        <!-- <div class="menutitle">Links</div>
          <ul>
          <li><a href="http://sideproj3cts.net">Heroes For Hire</a></li>
          </ul> -->
      </div>
    </div>
  </div>
  <div class="contentblock">
    <div class="breadcrumbshere"><ul class="breadcrumb">
    <li><a href="index.php">Home</a></li>
    <li><a href="#">[var.categoryname]</a></li>
    </ul></div>
    
    <h1>[var.categoryname]</h1><br>
      
    <div class="thumbshere">
      <div class="thumblisting">
        <a href="product.php?id=[product.id;block=div]" title="[product.title]"><img src="[product.photopath;ifempty='themes/[var.theme]/graphics/noimg-l.png']" alt="[product.title]"/></a>
        <br>[product.title]<br><font style="font-size: 0.8em;">[var.currencysign;htmlconv=no][product.quantity]</font>
      </div>
      <div class="thumblisting">[product;block=div;nodata]
        <font class="shoulderline">Notice!</font>
        <br>
        <br>This category has no products.
      </div>
    </div>
  </div>
</div>
[onload;file='footer.html']