[onload;file='header.html'] 
<div class="middlebar">
<div class="menublock">
<div class="menuhere">
<div id="ddblueblockmenu">
<div class="menutitle">Categories</div>
<ul>
<li><a href="category.php?id=[categories.id;block=li]">[categories.title]</a></li>
</ul>
<!-- <div class="menutitle">Links</div>
<ul>
<li><a href="http://heroesdesign.net">Heroes For Hire</a></li>
</ul> -->
</div>
</div>
</div>
<div class="contentblock">
<div class="breadcrumbshere"><ul class="breadcrumb">
<li><a href="index.php">Home</a></li>
<li><a href="basket.php">Basket</a></li>

<li>[onshow;block=li;when [var.checkoutmode]=userinput]<a href="#">Checkout</a></li>
	<li>[onshow;block=li;when [var.checkoutmode]=confirm]<a href="checkout.php">Checkout</a></li>
	<li>[onshow;block=li;when [var.checkoutmode]=confirm]<a href="#">Confirm</a></li>


</ul></div>

<div class="thumbshere">
<h1>Checkout</h1>

<div class="notice">[onshow;block=div;when [var.shownotice]=yes][var.notice]</div> 
<div class="rednotice">[onshow;block=div;when [var.showrednotice]=yes][var.rednotice]</div> 
<div class="ambernotice">[onshow;block=div;when [var.showambernotice]=yes][var.ambernotice]</div> 
<div class="greennotice">[onshow;block=div;when [var.showgreennotice]=yes][var.greennotice]</div>

<br>

<table width="780">

<tr>[onshow;block=tr;when [var.checkoutmode]=confirm]<th colspan="2">Confirmation</th></tr>
<tr>[onshow;block=tr;when [var.checkoutmode]=confirm]<td colspan="2">
Now you are ready to pay with [var.paymentprocessor]. Be sure to confirm your order below.
<br><br>[onload;file='[var.paymentfunction]']
<br><br></td></tr>

<form method="POST">
<tr>
<th width="260">What you're buying</th>
<th width="520">Where you're delivering</th>
</tr>

<td>
[var.imbuyingthis;htmlconv=no]
<br>
<div>[onshow;block=div;when [var.deliverycost]!=n/a]
<br>Delivery at [var.currencysign;htmlconv=no][var.deliverycost]
<br>1st Class Royal Mail Delivery
<br>UK delivery only</div>
</td>
<td>
	<div class="statrow">
		<span style="font-weight: bold;">Delivery details</span><br>
		<div class="statcol" style="width: 150px;">Name of recipient</div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=userinput]<input type="text" name="recipname" value="[var.recipname;noerr]" class="mediumtext"></div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=confirm]<input type="text" disabled="disabled" name="recipname" value="[var.recipname;noerr]" class="mediumtext"></div>
	</div>
	<div class="statrow">
		<div class="statcol" style="width: 150px;">Road name and number</div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=userinput]<input type="text" name="roadname" value="[var.roadname;noerr]" class="mediumtext"></div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=confirm]<input type="text" disabled="disabled" name="roadname" value="[var.roadname;noerr]" class="mediumtext"></div>
	</div>
	<div class="statrow">
		<div class="statcol" style="width: 150px;">2nd line of address</div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=userinput]<input type="text" name="secondline" value="[var.secondline;noerr]" class="mediumtext"></div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=confirm]<input type="text" disabled="disabled" name="secondline" value="[var.secondline;noerr]" class="mediumtext"></div>
	</div>
	<div class="statrow">
		<div class="statcol" style="width: 150px;">City</div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=userinput]<input type="text" name="city" value="[var.city;noerr]" class="mediumtext"></div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=confirm]<input type="text" disabled="disabled" name="city" value="[var.city;noerr]" class="mediumtext"></div>
	</div>
	<div class="statrow">
		<div class="statcol" style="width: 150px;">Post Code</div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=userinput]<input type="text" name="postcode" value="[var.postcode;noerr]" class="mediumtext"></div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=confirm]<input type="text" disabled="disabled" name="postcode" value="[var.postcode;noerr]" class="mediumtext"></div>
	</div>
  <div class="statrow">
      <div class="statcol" style="width: 150px;">Country</div>
      <div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=userinput]<select style="width: 250px;" name="country">[onload;file='_countries.html']</select></div>
      <div class="statcol" style="width: 300px;" disabled="disabled">[onshow;block=div;when [var.checkoutmode]=confirm]<select style="width: 250px;" readonly name="country"><option value="[var.country]">[var.country]</option></select><input type="hidden" name="country" value="[var.country]"></div>
  </div>
	<div class="statrow">
		<span style="font-weight: bold;">Your details</span><br>
		<div class="statcol" style="width: 150px;">Your Name</div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=userinput]<input type="text" name="custname" value="[var.custname;noerr]" class="mediumtext"></div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=confirm]<input type="text" disabled="disabled" name="custname" value="[var.custname;noerr]" class="mediumtext"></div>
	</div>

	<div class="statrow">
		<div class="statcol" style="width: 150px;">Your Email</div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=userinput]<input type="text" name="custemail" value="[var.custemail;noerr]" class="mediumtext"></div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=confirm]<input type="text" disabled="disabled" name="custemail" value="[var.custemail;noerr]" class="mediumtext"></div>
	</div>
	<div class="statrow">
		<div class="statcol" style="width: 150px;">Your Phone Number</div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=userinput]<input type="text" name="phonenumber" value="[var.phonenumber;noerr]" class="mediumtext"></div>
			<div class="statcol" style="width: 300px;">[onshow;block=div;when [var.checkoutmode]=confirm]<input type="text" name="phonenumber" value="[var.phonenumber;noerr]" class="mediumtext"  disabled="disabled"></div>
	</div>

</td>
</tr>

<tr><td colspan="2">
<div class="nobasket" style="margin: 0px;">Your order costs [var.currencysign;htmlconv=no][var.grandtotal;frm=0.00].</div>
<div style="float: right;">[onshow;block=div;when [var.checkoutmode]=userinput]<input class="bigbutton" value="Confirm" type="submit" onclick="window.location='checkout.php'"></div>
<div style="float: right;">[onshow;block=div;when [var.checkoutmode]=confirm]<input class="bigbutton" value="Edit details" type="button" onclick="window.location='checkout.php'"></div>
</td></tr>

</table>

</div>

</div>
</div>
[onload;file='footer.html'] 