<div class="footerbar"><a href="http://heroesdesign.net/cartcake" target="_blank"><img src="themes/[var.theme]/graphics/powered_[var.themevariation].png" align="right" alt="Powered by Cartcake"/></a></div>
[var.tracking;htmlconv=no]
<!--[if lte IE 8]></div><![endif]-->
</div> <!-- close .push -->
</body>
</html>