[onload;file='header.html'] 
<div class="middlebar">
<div class="menublock">
<div class="menuhere">
<div id="ddblueblockmenu">
<div class="menutitle">Categories</div>
<ul>
<li><a href="category.php?id=[categories.id;block=li]">[categories.title]</a></li>
</ul>
<!-- <div class="menutitle">Links</div>
<ul>
<li><a href="http://heroesdesign.net">Heroes For Hire</a></li>
</ul> -->
</div>
</div>
</div>
<div class="contentblock">
<div class="breadcrumbshere"><ul class="breadcrumb">
<li><a href="index.php">Home</a></li>
<li><a href="#">Help</a></li>
</ul></div>

<div class="thumbshere">
<h1>Frequently Asked Questions</h1>
<br>What's the delivery charge?
<br>[var.currencysign;htmlconv=no][var.deliverycost].
<br>
<br>What delivery do you use?
<br>Royal Mail 1st class.
<br>
<br>Do you accept PayPal?
<br>Yes.
<br>
<br>[var.customhelp;htmlconv=yes]
<br>
<br><font class="shoulderline">Contact Details</font>
<br>[var.businessname]
<br>
<br>[var.address;htmlconv=yes]
<br>
<br>[var.phone]
</div>
</div>
</div>
[onload;file='footer.html'] 