[onload;file='header.html'] 
<div class="middlebar">
  <div class="menublock">
    <div class="menuhere">
      <div id="ddblueblockmenu">
        <div class="menutitle">Categories</div>
          <ul>
          <li><a href="category.php?id=[categories.id;block=li]">[categories.title]</a></li>
          </ul>
        <!-- <div class="menutitle">Links</div>
          <ul>
          <li><a href="http://heroesdesign.net">Heroes For Hire</a></li>
          </ul> -->
      </div>
    </div>
  </div>
  <div class="contentblock">
    <div class="breadcrumbshere"><ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    </ul></div>
      
    <div class="thumbshere">
      [var.welcome;htmlconv=yes]
      <br>
      <br><font class="shoulderline">[onshow;block=font;when [var.homesort]=recent]Newest Products</font><font class="shoulderline">[onshow;block=font;when [var.homesort]=alphabetised]All Products</font>
      <div style="clear"></div>
      
      <div class="thumblisting">
        <a href="product.php?id=[product.id;block=div]" title="[product.title]"><img src="[product.photopath;ifempty='themes/[var.theme]/graphics/noimg-l.png']" alt="[product.title]"/></a>
        <br>[product.title]<br><font style="font-size: 0.8em;">[var.currencysign;htmlconv=no][product.quantity]</font>
      </div>
    </div>
  </div>
</div>
[onload;file='footer.html']