[onload;file='header.html'] 
<div class="middlebar">
	<div class="menublock">
		<div class="menuhere">
			<div id="ddblueblockmenu">
				<div class="menutitle">Categories</div>
					<ul>
					<li><a href="category.php?id=[categories.id;block=li]">[categories.title]</a></li>
					</ul>
				<!-- <div class="menutitle">Links</div>
					<ul>
					<li><a href="http://heroesdesign.net">Heroes For Hire</a></li>
					</ul> -->
			</div>
		</div>
	</div>
	<div class="contentblock">
		<div class="breadcrumbshere"><ul class="breadcrumb">
		<li><a href="index.php">Home</a></li>
		<li><a href="#">Order Complete</a></li>
		</ul></div>
			
		<div class="thumbshere">
			<font class="shoulderline">Order Complete</font>
			<br><br>
			
			<div>[onshow;block=div;when [var.payment]=fail]
			<img src="themes/[var.theme]/graphics/warning.png" align="left" style="margin-right: 8px;" alt="warning sign"><b>The payment has not been completed due to either</b>
        <br>insufficent funds OR not attempting to pay [var.businessname] for your account.
        <br>
        <br>Your order has been logged, along with your failed payment.
			</div>
			
			<div>[onshow;block=div;when [var.payment]=success]
			<img src="themes/[var.theme]/graphics/tick.png" align="left" style="margin-right: 8px;" alt="tick" >Your order has been paid for.<br><br>
				<img src="themes/[var.theme]/graphics/bigtick.png" align="left" style="margin-right: 8px;" alt="big tick">
        		<br>Your order has been processed.
        		<br>An order reference has been sent to your email.
        		<br>If your order had virtual items, a download link has been sent too.
        		<br><br>
			</div>
			
			<div>[onshow;block=div;when [var.payment]=unnecessary]
			Why are you trying to access this page directly?
			<br>If you haven't made a payment, your order can't complete.
			</div>
			
			
		</div>
	</div>
</div>
[onload;file='footer.html'] 