[onload;file='header.html']
<div class="middlebar">
  <div class="menublock">
    <div class="menuhere">
      <div id="ddblueblockmenu">
        <div class="menutitle">Categories</div>
          <ul>
                  <li>
              <a href="category.php?id=[categories.id;block=ul]"style="width: 92%;" class="active">
              [onshow;block=a;when [categories.id]=[var.categoryid;noerr]]
              [categories.title]</a>
              <a href="category.php?id=[categories.id]" style="width: 92%;">
              [onshow;block=a;when [categories.id]!=[var.categoryid;noerr]]
              [categories.title]</a>
            </li>
          </ul>
        <!-- <div class="menutitle">Links</div>
          <ul>
          <li><a href="http://sideproj3cts.net">Heroes For Hire</a></li>
          </ul> -->
      </div>
    </div>
  </div>
  <div class="contentblock">[product;block=div]
    <div class="breadcrumbshere"><ul class="breadcrumb">
    <li><a href="index.php">Home</a></li>
    <li><a href="category.php?id=[product.categoryid]">[var.categoryname]</a></li>
    <li><a href="#">[product.title]</a></li>
    </ul></div>
    
    
    
    <div class="notice">[onshow;block=div;when [var.shownotice]=yes][var.notice]</div>
    <div class="rednotice">[onshow;block=div;when [var.showrednotice]=yes][var.rednotice]</div>
    <div class="ambernotice">[onshow;block=div;when [var.showambernotice]=yes][var.ambernotice]</div>
    <div class="greennotice">[onshow;block=div;when [var.showgreennotice]=yes][var.greennotice]</div>
      
    <div class="thumbshere">
      
      
      
      <div class="thumblisting">
        <img src="[product.photopath;ifempty='themes/[var.theme]/graphics/noimg-l.png']" style="/* max-width: 400px; */" alt="[product.title]"/>
      </div>
      <div class="thumblisting wideronmobile IErightFix">
        <h1 style="text-align: center;">[product.title]</h1>
        <br>[var.currencysign;htmlconv=no][product.quantity]
        <br>
        <br>[product.description;htmlconv=yes]
        <br>
        
        <form method="POST">[onshow;block=form;when [var.variationcount]!=0]
        <br>
        <label for="variationid"><select class="mediumtext" name="variationid" id="variationid">
        [onshow;block=select;when [var.variationcount]+-1]
        <option value=""></option>
        <option value="[variation.id;block=option;p1=[product.id]]">[onshow;block=option;when [variation.value]+-0][variation.attribute]</option>
        <option style="background-color: #DD9898;" value="[variation.id;block=option;p1=[product.id]]">[onshow;block=option;when [variation.value]=0][variation.attribute]</option>
        </select></label>
        <span>[onshow;block=span;when [var.variationcount]=1]<input type="hidden" name="variationid" value="[variation.id;block=span;p1=[product.id]]"></span>
        <input type="hidden" name="itemid" value="[product.id]">
        <br>
        <input type="submit" name="gavebasket" class="basket" value="Add to basket">
        </form>
        <div class="nobasket">[onshow;block=div;when [var.variationcount]=0]
        This item is out of stock.</div>
      </div>
    </div>
  </div>
  <div class="contentblock">[product;block=div;nodata]
    <div class="breadcrumbshere"><ul class="breadcrumb">
    <li><a href="index.php">Home</a></li>
    <li><a href="#">Notice!</a></li>
    </ul></div>
    
    <div class="thumbshere">
    <div class="thumblisting">
      <font class="shoulderline">Notice!</font>
      <br>
      <br>The product you are looking for, doesn't exist.
    </div></div>
    
  </div>
</div>
[onload;file='footer.html']