.ibfr { float: right; display: inline-block; }
.mobile { display: none !important; }

@media screen and (max-width: 1149px) {
    .contentblock {
    padding: 12px; width: 60%; float: left;
    /* background-color: #99ccff; */ background-color: #4d4d4d;
    }
}


@media screen and (min-width: 1150px) {
    .contentblock {
    padding: 12px; width: 75%; float: left;
    /* background-color: #99ccff; */ background-color: #4d4d4d;
    }
}

@media screen and (min-width: 1250px) {
    .contentblock {
    padding: 12px; width: 80%; float: left;
    /* background-color: #0066cc; */ background-color: #4d4d4d;
    }
}

@media screen and (max-width: 600px) {
	.menublock, .desktop, .ibfr { display: none; }
	.contentblock { width: 90% !important }
	.wideronmobile { width: 90% !important; position: initial !important; }
    .mobile { display: block !important; }
    .headerbar img { margin-left: 2em; }
    .drawer-hamburger { margin-top: 1em; }
}