@font-face {
	font-family: 'FrugalSansRegular';
	src: url('fonts/ftl_____-webfont.eot');
	src: local('?'), url('fonts/ftl_____-webfont.woff') format('woff'), url('fonts/ftl_____-webfont.ttf') format('truetype'), url('fonts/ftl_____-webfont.svg#webfontkIgqO6eN') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	margin: 0px;
	padding: 0px;
    background-image: url('graphics/back1.png');
	background-color: #EBEBEB;
	font-family: FrugalSansRegular, Tahoma;
	line-height: 1.2em;
}

.headerpane{
	background-image: url('graphics/headerback.png');
	height: 165px;
	width: 100%;
}

img { 
	border: 0px;
}

.menubox{
	border-radius: 3px;
	/* border-top: 3px solid #ec4b2a;
	border-right: 3px solid #ec4b2a;
	border-bottom: 3px solid #ec4b2a; */
    border-top: 3px solid rgb(236, 212, 207);
	border-right: 3px solid rgb(236, 212, 207);
	border-bottom: 3px solid rgb(236, 212, 207);
	margin-right: auto;
	background-image: url('graphics/contentback.png');
	background-repeat: repeat-x;
	background-color: #ffffff;
	min-height: 400px;
	margin-top: 32px;
	padding: 42px 8px;
	width: 205px;
	float: left;
	display: inline-block;
}

.solution {
    background-image: url("graphics/solution.png");
    height: 17px;
    position: relative;
    top: -15px;
    width: 100%;
}

.boxeshere { position: relative; top: -15px; }

.contentbox{
	border-radius: 3px;
	/* border: 3px solid #ec4b2a; */
    border: 3px solid rgb(236, 212, 207);
	margin-left: 10%;
	background-image: url('graphics/contentback.png');
	background-repeat: repeat-x;
	background-color: #ffffff;
	width: 600px;
	min-height: 400px;
	margin-top: 32px;
	padding: 8px;
	display: inline-block;
	
	font-size: 0.9em;
}

div.header{
  color: #000000;
  line-height: 1.2em;
  font-size: 12px;
  border-bottom: 3px dotted  #EC4B2A;
  padding: 0px;
  margin-top: 48px;
  font-weight: bold;
}

div.statcol{
    /* ie inline-block: fix
    http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
    http://www.quirksmode.org/css/display.html
    */
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    font-size: 14px;
    border: solid #000000 0px;
    vertical-align: middle;
}

div.statrow{
    /* ie inline-block: fix
    http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
    http://www.quirksmode.org/css/display.html
    */
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    font-size: 14px;
    border: solid #000000 0px;

    vertical-align: middle;
    min-width: 100px;
    
    clear: both;
}

font.headline{
font-family: FrugalSansRegular, Verdana, Droid Sans, Georgia;
/* background-color: #fff; */
color: #A4341D;
font-style: italic;
text-decoration: none;
word-spacing: normal;
text-align: left;
letter-spacing: 0;
line-height: 1.2em;
font-size: 2.5em;
}

font.shoulderline{
font-family: FrugalSansRegular, Georgia;
/* background-color: #fff; */
color: #0066cc;
font-style: italic;
text-decoration: none;
word-spacing: normal;
text-align: left;
letter-spacing: 0;
line-height: 1.2em;
font-size: 1.8em;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
#ddblueblockmenu{
border: 0px solid black;
border-bottom-width: 0;
width: 185px;
font-size: 0.8em;
}

#ddblueblockmenu ul{
margin: 0;
padding: 0px;
list-style-type: none;
}

#ddblueblockmenu li a{
display: block;
padding: 6px 0px;
padding-left: 9px;
width: 169px; /*185px minus all left/right paddings and margins*/
text-decoration: none;
color: white;
background-color: #ed5c3f;
border-bottom: 0px solid #90bade;
border-left: 7px solid #ec4b2a;
}

* html #ddblueblockmenu li a{ /*IE only */
width: 187px; /*IE 5*/
width: 169px; /*185px minus all left/right paddings and margins*/
}

#ddblueblockmenu li a:hover {
background-color: #ec4b2a;
border-left-color: #ec4b2a;
}

#ddblueblockmenu li .active {
background-color: #ec4b2a;
border-left-color: #ec4b2a;
}

#ddblueblockmenu div.menutitle{
color: white;
border-bottom: 1px solid #a4341d;
padding: 1px 0;
padding-left: 5px;
background-color: #a4341d;
font-weight: bold; font-size: 90%;
}

/* ------------ products ---------- */
/* ----------------- layout and typography -----------------  */

table.stylish th{
/* background-color: #cccccc; */
padding-left: 8px;
}

table.stylish td{
background-color: white;
padding-left: 8px;
   background-repeat: repeat-x;
	background-image: url('graphics/holderdark.jpg');
	background-color: #646A6A;
}

table.stylish td.conveyorbelt{
background-color: white;
padding-top: 20px;
   background-repeat: repeat-x;
	background-image: url('graphics/conveyorbelt.jpg');
	background-color: #646A6A;
}



img{
border: 0px;
padding: 0px;
margin: 0px;
}

div.section{
background-color: #454A54;
padding: 5px;
width: 80px;
}

div.offset{
margin-left: 100px;
margin-top: 40px;
}

div.headerbar{
padding-left: 110px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
max-width: 100%;
background-color: #949E9E;
text-decoration: none;
text-decoration: underline;
font-size: 36px;
line-height: 62px;
}

div.miniheader{
padding-left: 12px;
color: white;
max-width: 100%;
background-color: #949E9E;
text-decoration: none;
text-decoration: underline;
font-size: 24px;
line-height: 31px;
}

div.listinglight{
	background-repeat: repeat-x;	
   background-image: url('graphics/holderlight.jpg');
	background-color: #8B9191;
	/* xwidth: 492px; */
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #000000;
	
	padding: 12px;
	margin: 0px;
}

div.fieldcard{
min-width: 100px;
min-height: 34px;
padding: 6px;
font-size: 12px;
border-radius: 3px;
border: 1px solid #000000;
background-color: #A37582;
margin-left: 3px;
margin-bottom: 6px;
display: inline-block;

   /* hello css3 */
   -moz-box-shadow: 3px 0px 4px #996674; /* FF3.5+ */
   -webkit-box-shadow: 3px 0px 4px #996674; /* Saf3.0+, Chrome */
   box-shadow: 3px 0px 4px #996674; /* Opera 10.5, IE 9.0 */
   
   -moz-border-radius: 5px; /* FF1+ */
   -webkit-border-radius: 5px; /* Saf3+, Chrome */
   border-radius: 5px; /* Opera 10.5, IE 9 */
   /* thanks to css3please.com */
}

div.fieldcardNEW{
min-width: 100px;
min-height: 34px;
padding: 6px;
font-size: 12px;
border-radius: 3px;
border: 1px solid #000000;
background-color: #A37582;
margin-left: 3px;
margin-bottom: 6px;
display: inline-block;

   /* hello css3 */
   -moz-box-shadow: 3px 0px 4px #996674; /* FF3.5+ */
   -webkit-box-shadow: 3px 0px 4px #996674; /* Saf3.0+, Chrome */
   box-shadow: 3px 0px 4px #996674; /* Opera 10.5, IE 9.0 */
   
   -moz-border-radius: 5px; /* FF1+ */
   -webkit-border-radius: 5px; /* Saf3+, Chrome */
   border-radius: 5px; /* Opera 10.5, IE 9 */
   /* thanks to css3please.com */
}

div.tornfieldcard{
min-width: 100px;
height: 34px;
padding: 6px;
font-size: 12px;
border-radius: 3px;
border: 1px solid #000000;
background-color: #CCB3BA;
margin-left: 3px;
margin-bottom: 6px;
display: inline-block;

text-align: center;

position: relative;
top: -10px;

   opacity: 50%;
   filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
   /* thanks to css tricks
   http://css-tricks.com/css-transparency-settings-for-all-broswers/
   */


   /* hello css3 */
   -moz-box-shadow: 3px 0px 4px #996674; /* FF3.5+ */
   -webkit-box-shadow: 3px 0px 4px #996674; /* Saf3.0+, Chrome */
   box-shadow: 3px 0px 4px #996674; /* Opera 10.5, IE 9.0 */
   
   -moz-border-radius: 5px; /* FF1+ */
   -webkit-border-radius: 5px; /* Saf3+, Chrome */
   border-radius: 5px; /* Opera 10.5, IE 9 */
   /* thanks to css3please.com */
}

div.tornfieldcard:hover{
   opacity: 100%;
   filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
   /* thanks to css tricks
   http://css-tricks.com/css-transparency-settings-for-all-broswers/
   */
}


.daplaybox{
background-image: url('graphics/1205.png'); color: white;
padding-right: 8px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 8px;
margin: 0px;
border: solid #000000 1px;
display: inline-block;
color: #000000;
}

div.listingdark{
    /*
    background-repeat: repeat-x;
	background-image: url('graphics/holderdark.jpg');
	background-color: #646A6A;
	*/
	/* xwidth: 492px; */
	/*
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: black;
	*/
	
	padding: 12px;
	margin: 0px;
	
}

div.listingwood{
   background-repeat: repeat-x;
	background-image: url('graphics/wood3.jpg');
	background-color: #646A6A;
	background-color: #021717;
	/* xwidth: 492px; */
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: black;
	
	color: #c0c0c0;
	
	padding: 12px;
	margin: 0px;
}

div.iconbar{
	background-image: url('graphics/wood2long.jpg');
	/* xwidth: 492px; */
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: black;
	line-height: 8px;
	padding: 0px;
	margin: 0px;
	
	height: 52px;
}

div.button{
	padding: 14px;
	width: 32px;
   text-align: center;
   vertical-align: middle;
   display: inline-block;
   margin-right: 4px;
   float: left;
}

div.button2{
	text-align: right;
	display: inline-block;
   vertical-align: middle;
   margin-right: 4px;
   
   position: relative;
   left: 00px;
   top: -20px;
   z-index: 1;
   
   background-image: url('graphics/wood3.jpg');
}

div.button3{
   position: relative;
   top: -25px;
   z-index: 1;

	xtext-align: right;
	display: inline-block;
   vertical-align: middle;
   margin-right: 4px;
   
   
}

div.button:hover{
	background-image: url('graphics/wood3.jpg');
}

.viewdis{
background-image: url('graphics/wood3.jpg');
}

font.header{
text-decoration: underline;
font-size: 36px;
line-height: 62px;
}

div.leftsideiconbar{
width: 32px;
height: 33px;

position: absolute;
z-index: 0;

background-image: url('graphics/wood3.jpg');
margin-right: 36px;

padding-top: 8px;
padding-left: 8px;
}

div.leftsideiconbar:hover{
background-image: url('graphics/wood3.jpg');
}

a.active{
font-weight: bold;
}

font.active{

}

.highlight {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 cursor:move;
 font-weight: bold;
}

.notice{
text-align: center;
color: #0c0c0c;
font-weight: bold;
background-color: #F4A18F;
width: 100% - 1px;
padding: 8px;
border-top: solid #ECD4CF 8px;
margin-top: 32px;
}

.footer{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
max-width: 100%;
background-color: #949E9E;
text-decoration: none;
}

a:link {color: #0066cc;    text-decoration: none;}
a:hover {color: #0066cc;   text-decoration: underline!important;}
a:active {color: #0066cc;  text-decoration: none;}
a:visited {color: #0066cc; text-decoration: none;}

ul{
margin-top: 0;
border-top-width: 0;
padding-top: 0;
margin-bottom: 0;
border-bottom-width: 0;
padding-bottom: 0;
}

/* ----------------- listamatic menu -----------------  */
#navcontainer ul
{
padding-bottom: 6px;
padding-top: 5px;
padding-left: 100px;
margin-top: 0;
/* cancels gap caused by top padding in Opera 7.54 */
margin-left: 0px;
background-color: #EE5D3F;
color: white;
max-width: 100%;
font-family: Tahoma,Helvetica,sans-serif;
line-height: 18px; /* fixes Firefox 0.9.3 */

}

#navcontainer ul li
{
display: inline;
padding-left: 0;
padding-right: 0;
padding-bottom: 5px;
text-align: center;
/* matches link padding except for left and right */
padding-top: 5px;
}

#navcontainer ul li a
{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
background-color: #D44326;
text-decoration: none;
}

#navcontainer  #current
{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
background-color: #A5341E;
text-decoration: none;
}

#navcontainer ul li a:hover
{
background-color: #A5341E;
color: white;
}

/* ----------------- forms -----------------  */

.bigbutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
 border: 3px ridge #000000;
}

.bigtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 width: 250px;
}

.mediumbutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
 border: 3px ridge #000000;
}

.mediumtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

.editable {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}


.minitext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

.minitextBOLD {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 font-weight: bold;
}

.minibutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
 border: 3px groove #000000;
}


select {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

input {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

button{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px dashed #666666;
}

/* ----------------- editable text -----------------  */


#editableText:hover {
	outline: 1px dashed grey;
}
.editableToolbar:hover + * {
	outline: 1px dashed grey;
}
.editableToolbar {
}
.editableToolbar a{
    display: block;
    width: 17px;
    height: 15px;
    float: left;
    margin: 2px;
}
.editableToolbar .edit {	
	background: url("icons/icons.png");
}
.editableToolbar .save {
    background: url("icons/icons.png") -16px 0;
}
.editableToolbar .cancel {
    background: url("icons/icons.png") 25px 0;
}


.mobile { display: none; }
@media screen and (max-width: 600px) {
	.desktop { display: none; }
	.mobile { display: block !important; }
	.contentbox { width: 90% !important; margin-left: 0px !important; }
} 