[onload;file='header.html']

<div class="notice">[onshow;block=div;when [var.shownotice]=yes][var.notice]</div> 
<div class="rednotice">[onshow;block=div;when [var.showrednotice]=yes][var.rednotice]</div> 
<div class="ambernotice">[onshow;block=div;when [var.showambernotice]=yes][var.ambernotice]</div> 
<div class="greennotice">[onshow;block=div;when [var.showgreennotice]=yes][var.greennotice]</div>

<font class="headline">My Account</font>

<br><form method="POST">
  <div style="width: 100px;"><br>
    [onshow;block=div; when [var.whatsecret]=[order.secret]]
    <br>UK Royal Mail Delivery
    <br><p class="nobasket" style="margin:0px;">[onshow;block=p; when [order.dispatched]=yes]Your order has been dispatched.</p>
    <br><p class="nobasket" style="margin:0px;">[onshow;block=p; when [order.dispatched]=no]Awaiting to be dispatched.</p>
    <br>
  </div>
    
<div>[onshow;block=div; when [var.whatsecret]!='x']
    <span style="font-size: 1.1em;">
    <a href="product.php?id=[product.id;p1=[ordered.itemid];block=div]">[product.title;p1=[ordered.itemid]]</a>
    </span>
    <br>
    <div class="salepricebacklong" style="width: 500px;">
        <span style="font-style: italic;">[variation.attribute;p1=[ordered.itemid];block=span]</span>
        <p style="float: right;"><a href="download.php?itemid=[product.id]&orderid=[ordered.orderid]&secret=[order.secret]">Download</a></p>
        <br>
    </div>
</div>

<br><label for="enteredemail">Using the form below, you can receive another copy of every email you've received from [var.businessname], in the past 30 days.</label>
<br>
<br>Your email
<br><input type="text" class="bigtext" name="enteredemail" id="enteredemail">
<br>
<br><input type="submit" class="bigbutton" value="Send emails">
<br></form>

[onload;file='footer.html']