[onload;file='header.html']

<h1>[var.categoryname]</h1><br>

<div class="statrow">
    <div class="statcol" style="width: 25%;">[product;block=div]
       <div class="polaroid"><a href="product.php?id=[product.id]" title="[product.title]"><img src="[product.photopath;ifempty='themes/[var.theme]/graphics/noimg-l.png']" alt="[product.title]"/></a>[product.title]</div>
    </div>
    <div class="statcol">[product;block=div;nodata]<font class="shoulderline">Notice!</font><br><br>This category has no products.</div>
</div>

[onload;file='footer.html']