[onload;file='header.html']

<script type="text/javascript">
$(function() {

    /* var $container = $('#itemshere').masonry({
      itemSelector : '.statcol',
      columnWidth: function( containerWidth ) { // fluid columnwidth sizing
          return containerWidth / 6;
      }
    }).imagesLoaded( function() {
      $container.masonry(); // trigger masonry after images are loaded
    }); */

    $( ".polaroid img" ).aeImageResize({ height: 200, width: 180 });
    offset = [var.homelist];

    $(window).scroll(function()
    {
        if($(window).scrollTop() == $(document).height() - $(window).height())
        {
            nextSize = $('#itemshere .statcol').size() + [var.homelist;noerr];
            if (Math.ceil(nextSize/[var.homelist]) == ((offset-[var.homelist])/[var.homelist])+2){
                $('#loading').fadeIn();
                $.ajax({
                url: "themes/[var.theme]/ajaxcontrols.php?page=products&offset="+offset,
                success: function(html)
                {
                    if(html)
                    {
                        offset += [var.homelist];
                        $("#itemshere").append(html);
                        //$('.statrow').masonry('appended', html, true); 
                        
                        /* var html = $(html); 
                        var $container = $('#itemshere').masonry({
                            itemSelector : '.statcol',
                        }).imagesLoaded( function() {
                            $container.masonry('appended', html, true); // trigger masonry after images are loaded
                        }); */
                        
                        $( ".polaroid img" ).aeImageResize({ height: 200, width: 180 });
                        
                    } //else { //$('#loading').html('<center>No more posts to show.</center>');}
                }
                });
                $('#loading').fadeOut();
            }
        }
    });
});
</script>

[var.welcome;htmlconv=yes]
<br>
<br><font class="shoulderline">[onshow;block=font;when [var.homesort]=recent]Newest Products</font><font class="shoulderline">[onshow;block=font;when [var.homesort]=alphabetised]All Products</font>
<div style="clear"></div>

<div class="statrow" id="itemshere">
    <div class="statcol" style="width: 25%;">[product;block=div]
       <div class="polaroid"><a href="product.php?id=[product.id]" title="[product.title]"><img src="[product.photopath;ifempty='themes/[var.theme]/graphics/noimg-l.png']" alt="[product.title]"/></a><div style="max-width: 150px;">[product.title]</div></div>
    </div>
</div>

[onload;file='footer.html']