[onload;file='header.html']

<font class="headline">Order Complete</font>

<div>[onshow;block=div;when [var.payment]=fail]
<img src="themes/[var.theme]/graphics/warning.png" align="left" style="margin-right: 8px;" alt="warning sign"><b>The payment has not been completed due to either</b>
  <br>insufficent funds OR not attempting to pay [var.businessname] for your account.
  <br>According to [var.paymentprocessor], the status of your payment is [var.paymentstatus].
<br>
  <br>Your order has been logged, along with your failed payment.

</div>

<div>[onshow;block=div;when [var.payment]=success]
<img src="themes/[var.theme]/graphics/tick.png" align="left" style="margin-right: 8px;" alt="tick" >Your order has been paid for.<br><br>
  <img src="themes/[var.theme]/graphics/bigtick.png" align="left" style="margin-right: 8px;" alt="big tick">
      <br>Your order has been processed.
      <br>An order reference has been sent to your email.
      <br>If your order had virtual items, a download link has been sent too.
      <br><br>
</div>

<div>[onshow;block=div;when [var.payment]=unnecessary]
Why are you trying to access this page directly?
<br>If you haven't made a payment, your order can't complete.
</div>

[onload;file='footer.html']