[onload;file='header.html']

<div class="notice">[onshow;block=div;when [var.shownotice]=yes][var.notice]</div>
<div class="rednotice">[onshow;block=div;when [var.showrednotice]=yes][var.rednotice]</div>
<div class="ambernotice">[onshow;block=div;when [var.showambernotice]=yes][var.ambernotice]</div>
<div class="greennotice">[onshow;block=div;when [var.showgreennotice]=yes][var.greennotice]</div>

<div class="statrow">[product;block=div]
      <div class="statcol" style="width: 40%">
        <img src="[product.photopath;ifempty='themes/[var.theme]/graphics/noimg-l.png']" alt="[product.title]"/>
      </div>
      <div class="statcol" style="width: 60%;">
        <h1 style="text-align: center;">[product.title]</h1>
        <br>[var.currencysign;htmlconv=no][product.quantity]
        <br>
        <br>[product.description;htmlconv=yes]
        <br>
        
        <form method="POST">[onshow;block=form;when [var.variationcount]!=0]
        <br>
        <label for="variationid"><select class="mediumtext" name="variationid" id="variationid">
        [onshow;block=select;when [var.variationcount]+-1]
        <option value=""></option>
        <option value="[variation.id;block=option;p1=[product.id]]">[onshow;block=option;when [variation.value]+-0][variation.attribute]</option>
        <option style="background-color: #DD9898;" value="[variation.id;block=option;p1=[product.id]]">[onshow;block=option;when [variation.value]=0][variation.attribute]</option>
        </select></label>
        <span>[onshow;block=span;when [var.variationcount]=1]<input type="hidden" name="variationid" value="[variation.id;block=span;p1=[product.id]]"></span>
        <input type="hidden" name="itemid" value="[product.id]">
        <br>
        <input type="submit" name="gavebasket" class="basket" value="Add to basket">
        </form>
        <div class="nobasket">[onshow;block=div;when [var.variationcount]=0]
        This item is out of stock.</div>
      </div>
    </div>
   <div class="statcol"> [product;block=div;nodata]
      <font class="shoulderline">Notice!</font>
      <br>
      <br>The product you are looking for, doesn't exist.
  </div>
</div>

[onload;file='footer.html']