a.ibfr { float: right; display: inline-block; }
.mobile { display: none !important; }

@media screen and (max-width: 600px) {
	.menublock, .desktop, .ibfr, #navcontainer { display: none; }
	.contentblock { width: 90% !important }
	.wideronmobile { width: 90% !important; position: initial !important; }
    .mobile { display: block !important; }
    .headerbar img { margin-left: 2em; }
    .drawer-hamburger { margin-top: 1em; }
    .statcol { float: none !important; width: 100% !important; }
    .container, .wrapper { width: 100% !important; box-sizing: content-box; border: 0px !important;}
}