html, body{height:100%;}
body{background-color:#f7f7f7;margin:0px;padding:0px;font-family:Georgia;font-size:0.88em;}
.wrapper{width:1000px;}
.container{width:970px;padding-bottom:96px;}
.wrapper{min-height:100%;border-left:15px solid white;border-right:15px solid white;margin-left:auto;margin-right:auto;background-color:transparent;}
.container{min-height:100%;background-color:white;border-left:15px solid #f7f7f7;border-right:15px solid #f7f7f7;}
.contenthere{padding:0px 45px;}
.header{text-align:center;width:100%;padding-top:40px;padding-bottom:20px;}
div.statcol{float:left;padding:0px;vertical-align:middle;overflow:hidden;text-align:left;margin-bottom:42px;}
div.statrow{width:100%;margin:0 auto;overflow:hidden;}
.polaroid{padding:10px 10px 19px 10px;background-color:#f7f7f7;display:inline-table;font-style:italic;line-height:1.45em;}
.statcol:nth-child(4n+4){padding-bottom:40px;clear:both;display:table;}
.statcol{text-align:center;}
.polaroid img{display:block;padding-bottom:5px;}
.spacing{width:100%;height:40px;display:block;}
.wrapper2{min-width:100%;min-height:100%;padding-left:0px;background-image:url('graphics/back.png');background-repeat:repeat-y;background-color:white;}
.leftbar{background-color:black;z-index:0;min-height:100%;height:100%;position:absolute;left:0px;width:8px;}
.header2{font-size:3.5em;font-style:italic;position:relative;left:36px;}
.tagline{font-size:0.75em;margin-left:35px;margin-top:47px;width:425px;font-style:italic;}
.pagetitle{position:relative;left:8px;width:100%;margin-left:32px;background-color:black;color:#a8a8a8;font-size:0.75em;font-family:Helvetica, Arial;padding:12px;text-transform:uppercase;}
.paddinghere{padding:32px 12px;}
html, body{height:100%;}
img{border:0px;}
a:link{color:#000000;text-decoration:none;}
a:hover{color:#000000;text-decoration:underline;}
a:active{color:#000000;text-decoration:none;}
a:visited{color:#000000;text-decoration:none;}
a.nostyle:link{color:#000000 !important;text-decoration:none;}
a.nostyle:hover{color:#000000 !important;text-decoration:underline;}
a.nostyle:active{color:#000000 !important;text-decoration:none;}
a.nostyle:visited{color:#000000 !important;text-decoration:none;}
.notice, .rednotice, .ambernotice, .greennotice{text-align:center;color:#3C3C3C;font-weight:bold;margin-top:32px;clear:both;width:97%;padding:8px;margin-bottom:12px;}
.notice{background-color:#BABABA;border-top:solid #3C3C3C 8px;}
.rednotice{background-color:#DD9898;border-top:solid #3C3C3C 8px;}
.ambernotice{background-color:#DDC498;border-top:solid #3C3C3C 8px;}
.greennotice{background-color:#98DD98;border-top:solid #3C3C3C 8px;}
h1, font.headline, font.shoulderline{font-family:FrugalSansRegular, Verdana, Georgia;font-style:italic;text-decoration:none;word-spacing:normal;text-align:left;letter-spacing:0;line-height:1.2em;font-weight:normal;}
font.headline{color:#000000;font-size:2.5em;}
h1, font.shoulderline{font-size:1.8em;}
#loading{background-color:black;color:white;padding:12px 0px;text-align:center;font-size:2.6em;position:absolute;bottom:0px;z-index:1;width:100%;display:none;margin-top:48px;}
.bigbutton{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:24px;background-color:#cccccc;color:#666666;margin-right:6px;border:3px ridge #000000;}
.bigtext{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:24px;margin-right:6px;background-color:#CCCCCC;border:1px solid #666666;width:250px;}
.mediumbutton{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16px;background-color:#cccccc;color:#666666;margin-right:6px;border:3px ridge #000000;}
.mediumtext{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16px;margin-right:6px;background-color:#CCCCCC;border:1px solid #666666;}
.mediumblock{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16px;background-color:#CCCCCC;border:1px solid #666666;width:75px;color:#000000;margin-left:auto;margin-right:auto;}
.editable{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16px;margin-right:6px;background-color:#CCCCCC;border:1px solid #666666;}
.minitext{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;margin-right:6px;background-color:#CCCCCC;border:1px solid #666666;}
.minitextBOLD{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;margin-right:6px;background-color:#CCCCCC;border:1px solid #666666;font-weight:bold;}
.minibutton{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;background-color:#cccccc;color:#666666;margin-right:6px;border:3px groove #000000;}
select{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16px;margin-right:6px;background-color:#CCCCCC;border:1px solid #666666;}
input{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16px;margin-right:6px;background-color:#CCCCCC;border:1px solid #666666;}
button{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16px;margin-right:6px;background-color:#CCCCCC;border:1px dashed #666666;}
th{padding:8px;background-color:#3C3C3C;margin:8px;text-align:left;}
.totals{background-color:#808080;color:#242424;font-weight:bold;}
td{padding:8px;margin:8px;text-align:left;vertical-align:middle;}
#navlist{padding-left:0;margin-left:0;border-bottom:1px solid gray;width:200px;float:right;}
#navlist li{list-style:none;margin:0;padding:0.25em;border-top:1px solid gray;}
#navlist li a{text-decoration:none;}