[onload;file='header.html']

<div class="statrow">
    <div class="statcol" style="min-width: 38px;">&nbsp;</div>
    <div class="statcol" style="width: 46%;"><img src="themes/[var.theme]/graphics/spacer.gif" width="100%" height="100%" alt="spacer"></div>
    <div class="statcol" style="width: 50%;"><div class="paddinghere">

    <h1>File Not Found</h1>
    <br>

    <font class="shoulderline">Notice!</font>
    <br>
    <br>The page you were looking for could not be found.
    <br>You can find more products if you <a href="index.php">get shopping.</a>
    
    </div></div>
</div>


[onload;file='footer.html']