[onload;file='header.html']

<div class="statrow">
    <div class="statcol" style="min-width: 38px;">&nbsp;</div>
    <div class="statcol" style="width: 46%;"><img src="themes/[var.theme]/graphics/spacer.gif" width="100%" height="100%" alt="spacer"></div>
    <div class="statcol" style="width: 50%;"><div class="paddinghere">

    <h1>[var.categoryname]</h1><br>

    <div class="statrow">
        <div class="statcol" style="width: 25%;">[product;block=div]
           <div class="polaroid"><a href="product.php?id=[product.id]" title="[product.title]"><img src="[product.photopath;ifempty='themes/[var.theme]/graphics/noimg-l.png']" alt="[product.title]"/></a>[product.title]</div>
        </div>
        <div class="statcol">[product;block=div;nodata]<font class="shoulderline">Notice!</font><br><br>This category has no products.</div>
    </div>
</div>

[onload;file='footer.html']