[onload;file='header.html']

<div class="statrow">
    <div class="statcol" style="min-width: 38px;">&nbsp;</div>
    <div class="statcol" style="width: 46%;"><img src="themes/[var.theme]/graphics/spacer.gif" width="100%" height="100%" alt="spacer"></div>
    <div class="statcol" style="width: 50%;"><div class="paddinghere">


      <font class="headline">Help</font>

      <h1>Frequently Asked Questions</h1>
      <br>What's the delivery charge?
      <br>[var.currencysign;htmlconv=no][var.deliverycost].
      <br>
      <br>What delivery do you use?
      <br>Royal Mail 1st class.
      <br>
      <br>Do you accept PayPal?
      <br>Yes.
      <br>
      <br>[var.customhelp;htmlconv=yes]
      <br>
      <br><font class="shoulderline">Contact Details</font>
      <br>[var.businessname]
      <br>
      <br>[var.address;htmlconv=yes]
      <br>
      <br>[var.phone]
    </div>
</div></div>

[onload;file='footer.html']